*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.sidebar{
    position: fixed;
    background-color: rgb( 2, 2,66);
    height: 636px;
    width: 50px;
    padding: 15px 15px 0px 20px;
    font-size: 20px;
    color: gray;
}
#d{
    display: block;
    font-size: 1em;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: white;
}
.icons{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    font-size: 20px;
    text-align: center;
}
.bar1{
    background-color: rgb(209, 199, 199);
    height: 50px;
    width: 100%;
    margin-left: 95px;
}
.heading1{
    background-color: rgb(241, 241, 248);
    width: 100%;
    height: 50px;
    padding: 10px;
}
.contact{
    margin-left: 85px;
    margin-top: 5px;
    padding: 7px;
}
.divmain{
    display: grid;
    grid-template-columns: 18% 57% 25%;
}
.div1{
    margin-left: 90px;
    padding-bottom: 30px;
    border-right: 1px solid rgb(216, 157, 157);
    height: 900px;
    width: 105px;
    margin-top: 20px;
    font-size: 13px;
    padding: 20px;
}
.div2{
    margin-top: 35px;
    margin-left:20px;
    border-right: 1px solid rgb(216, 157, 157);
    width: 725px;
}
.input{
    width: 700px;
    height: 25px;
    border: 1px solid skyblue;
}
.label2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.input2{
    width: 338px;
    height: 25px;
    border: 1px solid skyblue;
    border-radius: 5px;
}
.input3{
    width: 700px;
    height: 25px;
}
.label3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.label4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.label5{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.button{
    margin-top: 50px;
}
.button button{
    padding: 5px   5px;
}
.div3{
    width: 300px;
    font-size: 14px;
}
.div3 .input{
    height: 30px;
    width: 300px;
}
.boxes .box1{
    width: 300px;
    border: 1px solid rgb(214, 185, 185);
    height: 100px;
    color: rgb(214, 185, 185);
    border-radius: 3px;
    padding-left: 8px;
}
.boxes .box2{
    width: 300px;
    border: 1px solid rgb(214, 185, 185);
    height: 100px;
    color: rgb(214, 185, 185);
    
}
.boxes .box3{
    width: 300px;
    border: 1px solid black;
    height: 120px;
}
.boxes .box4{
    width: 300px;
    border: 1px solid black;
    height: 100px;
}
.boxes .box5{
    width: 300px;
    border: 1px solid ;
    height: 120px;
    color: rgb(214, 185, 185);
}
.groupinput{
    border-radius: 5px;
    border: 1px solid skyblue;
}
.singleinput{
    background-color: skyblue;
    border: 1px solid rgb(93, 152, 175);
    border-radius: 5px;
}
.inputsearch{
    border: 1px solid black;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
}
.navbarright{
    display: flex;
    justify-content: space-between;
}
.dem{
    display: flex;
    gap: 10px;
    padding-top: 11px;
    padding-right: 60px;
    font-size: 17px;
}
.white{
    color: white;
}
.box1 h3,p{
    padding: 10px;
    padding-left: 20px;
}
.box1{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
}
.box1 .user{
    padding-top: 10px;
    font-size: 25px;
}
.vline{
    border-right: 1px solid;
    height: 10px;
    padding-top: 7px;
}
.box2{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
}
.box2 .user{
    padding-top: 10px;
    font-size: 25px;
    padding-left: 8px;
}
.box2 h3,p{
    padding: 10px;
    padding-left: 20px;
}
.box3{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
}
.box3 .building{
    padding-top: 10px;
    font-size: 25px;
    color: rgba(214, 214, 33, 0.767);
    padding-left: 8px;
}
.box3 h3,p{
    padding: 10px;
    padding-left: 20px;
}
.box4{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
}
.box4 .group{
    padding-top: 10px;
    font-size: 25px;
    color: red;
    padding-left: 8px;
}
.box4 h3,p{
    padding: 10px;
    padding-left: 20px;
}
.box5{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 5px;
}
.box5 .user{
    padding-top: 10px;
    font-size: 25px;
    padding-left: 8px;
}
.box5 h3,p{
    padding: 10px;
    padding-left: 20px;
}
#highlight-red{
    color: red;
    font-size: 10px;
}
.input{
    padding-left: 10px;
}
.input2{
    padding-left: 10px;
}